<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    {% include "./metas.html" %}
    {% include "./style_sheet.html" %}
    <title>MickeyRat - HomePage</title>

    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

    <link href="{% static 'scrolling-nav.css' %}" rel="stylesheet">
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {% include "./navbar.html" %}

    <!-- Page Content -->

    <div id="page-wrapper">

        <div class="row1 text-center">
            {% for t in test %}
            <div class="col-lg-3-1 col-md-6-1 mb-4">
                <div class="card">
                    <img class="card-img-top" src="data:image/jpeg;base64,{{ t.picture }}" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{ t.中文片名 }}</h3>
                        {% if t.score.fasttext %}
                        <p class="card-text">類型：{{ t.類型 }}<br>上映：{{ t.台灣上映日期 }}<br>導演：{{ t.導演 }}<br>分數：{{ t.score.fasttext }}</p>
                        {% else %}
                        <p class="card-text">類型：{{ t.類型 }}<br>上映：{{ t.台灣上映日期 }}<br>導演：{{ t.導演 }}<br>分數：NA</p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <form action="{% url 'rate:index' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ t.中文片名 }}" name="search">
                            {% if t.score.fasttext %}
                            <button class="btn btn-primary" type="submit">Find Out More!</button>
                            {% else %}
                            <button class="btn btn-primary" type="submit" disabled>Find Out More!</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

{% include "./down_js.html" %}

</body>

</html>
