<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    {% include "./metas.html" %}
    {% include "./style_sheet.html" %}
    <title>MickeyRat - Forms</title>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include "./navbar.html" %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">協助改善電影評分</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            這個頁面是讓使用者能直接修改特定電影的評分文章的分數，輸入想找的電影和選擇想看的文章分數後就可以協助修改這些文章的評分
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form action="{% url 'rate:modify' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="mov2">電影名稱</label>
                                            <input class="form-control" id="mov2" name="movie2">
                                            <p class="help-block">輸入完整電影名稱提供搜尋.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="sel2">Selects</label>
                                            <select class="form-control" id="sel2" name="score2">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            <p class="help-block">請選擇想要看的文章分數(愈高分代表評價愈好)</p>
                                            <p class="help-red">注意:文章是隨機選取的 改過的文章不會重複出現</p>
                                        </div>
                                        <button type="submit" class="btn btn-default">Submit Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% include "./down_js.html" %}

</body>

</html>
