<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    {% include "./metas.html" %}
    {% include "./style_sheet.html" %}
    <title>MickeyRat - HomePage</title>

    <link href="{% static 'scrolling-nav.css' %}" rel="stylesheet">
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include "./navbar.html" %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <section id="welcome">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-7 mx-auto">
                            <h1 class="page-header">MickeyRat</h1>
                            <p class="lead" style="font-family: 'Microsoft JhengHei UI'" align="left">MickeyRat是分析PTT電影版文章的一個評分系統,目的在於讓使用者快速得知有興趣的電影在PTT上的評價好壞在左上輸入想找的電影名稱,可以看到正負文章數量及評分和各種圖表分析。</p>
                        </div>
                        <!-- /.col-lg-12 -->
                        <div class="col-lg-2 panel panel-green">
                            <div class="panel-heading">
                                每月電影名單
                            </div>
                            <div class="panel-body">
                                <a href="vote/01">2017/01</a>
                                <br>
                                <a href="vote/02">2017/02</a>
                                <br>
                                <a href="vote/03">2017/03</a>
                                <br>
                                <a href="vote/04">2017/04</a>
                                <br>
                                <a href="vote/05">2017/05</a>
                                <br>
                                <a href="vote/06">2017/06</a>
                                <br>
                                <a href="vote/07">2017/07</a>
                                <br>
                                <a href="vote/08">2017/08</a>
                                <br>
                                <a href="vote/09">2017/09</a>
                                <br>
                                <a href="vote/10">2017/10</a>
                                <br>
                                <a href="vote/11">2017/11</a>
                                <br>
                                <a href="vote/12">2017/12</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </section>

            <section id="about" class="bg-light">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h1 class="page-header">文章資訊</h1>
                            <p class="lead" style="font-family: 'Microsoft JhengHei UI'">視覺化文章相關資訊，讓電影評分一目瞭然</p>
                            <ul style="font-family: 'Microsoft JhengHei UI'">
                                <li>正負文章統計</li>
                                <li>電影總體評分</li>
                                <li>推文趨勢分析</li>
                                <li>文章圖表呈現</li>
                            </ul>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </section>

            <section id="model">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h1 class="page-header">深度學習模型</h1>
                            <p class="lead" style="font-family: 'Microsoft JhengHei UI'">使用深度學習模型對文章進行訓練，當作文章原始評分的實驗數據</p>
                            <ul style="font-family: 'Microsoft JhengHei UI'">
                                <li>FastText</li>
                                <li>LSTM(100)</li>
                                <li>LSTM(1000)</li>
                            </ul>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </section>
            <!-- /.container-fluid -->
        </div>

        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% include "./down_js.html" %}

</body>

</html>
