<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    {% include "./metas.html" %}

    <title>MickeyRat - HomePage</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-20.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'scrolling-nav.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include "./navbar.html" %}

        <!-- Page Content -->

        <div id="page-wrapper">
            <section id="welcome">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h1 class="page-header">MickeyRat</h1>
                            <p class="lead" style="font-family: 'Microsoft JhengHei UI'" align="left">MickeyRat是分析PTT電影版文章的一個評分系統,目的在於讓使用者快速得知有興趣的電影在PTT上的評價好壞在左上輸入想找的電影名稱,可以看到正負文章數量及評分,以及一些文章在PTT的相關資訊</p>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </section>

            <section id="about" class="bg-light">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h1 class="page-header">文章資訊</h1>
                            <p class="lead" style="font-family: 'Microsoft JhengHei UI'">視覺化文章相關資訊，讓電影評分一目瞭然</p>
                            <ul style="font-family: 'Microsoft JhengHei UI'">
                                <li>正負文章統計</li>
                                <li>電影總體評分</li>
                                <li>推文趨勢分析</li>
                                <li>活躍發文者評論</li>
                            </ul>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </section>

            <section id="model">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h1 class="page-header">深度學習模型</h1>
                            <p class="lead" style="font-family: 'Microsoft JhengHei UI'">使用深度學習模型對文章進行訓練，當作文章原始評分的實驗數據</p>
                            <ul style="font-family: 'Microsoft JhengHei UI'">
                                <li>FastText</li>
                                <li>LSTM(100)</li>
                                <li>LSTM(1000)</li>
                            </ul>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </section>
            <!-- /.container-fluid -->
        </div>

        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

</body>

</html>
